*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}
.container{
    position: relative;
    width: 450px;
    height: 700px;
    left: 305.03px;
    top: 1751px;
    background: #F5F5F5;
}
.main{
    box-sizing: border-box;
    position: absolute;
    width: 371px;
    height: 591px;
    margin-left: 40px;
    margin-top: 82px;
    background: #FFFFFF;
    border: 1px solid #DFDFE0;
    border-radius: 8px;
}

.top{
    height: 285px;
    width: 450px;
    margin: 0 auto;
    background-color: #000F30;
    position: absolute;
    right: 0px;
}
/* .top__inner{
    /* position: absolute;
    width: 61px;
    height: 59px;
} */
.top__design-left{
    position: absolute;
    margin-top: 0;
    margin-left: 0;
}
.top__design-right{
    position: absolute;
    margin-top: 0;
    margin-left: 254px;
}
.logo__item{
    position: absolute;
    width: 38.57px;
    height: 25.54px;
    left: 206.03px;
    top: 13px;
}    
.top__heading{
    position: absolute;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 9.73404px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;  
    margin-left: 195px;
    margin-top: 46px;
}
.top__heading-two{
    position: absolute;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 7.1383px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;  
    margin-left: 204px;
    margin-top: 55px;
}
.block1__heading{
    position: absolute;
    width: 176px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #354371;
    margin: 20px 98px 0 97px;
}
.block1__par{
    position: absolute;
    width: 312px;
    height: 48px;
    margin: 45px 30px 10px 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.154px;
    color: rgba(29, 44, 60, 0.52);
}
.block1__reg{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 156px;
    height: 50px;
    margin: 93px 108px 19px 107px;
}
.block1__email{
    width: 66px;
    height: 30px;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #5E6872;
    background-color: #fff;
    border: none;
}
.block1__phone{
    width: 66px;
    height: 30px;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #32404E;
    margin-left: 10px;
}
.block1__input{
    display: flex;
    justify-content: baseline;
    position: absolute;
    width: 310px;
    height: 45px;
}
.block1__input-code{
    display: flex;
    padding: 13px 20px;
    width: 78px;
    height: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1D2C3C;
    margin-top: 165px;
    margin-left: 32px;
    margin-right: 6px;
}
.block1__input-phone{
    display: flex;
    padding: 13px 20px;
    width: 226px;
    height: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
    margin-top: 165px;
    margin-right: 29px;
}
.cont__button{
    position: absolute;
    padding: 9px 10px 9px 10px;
    background: rgba(72, 156, 255, 0.3);
    width: 127px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #FFFFFF;
    flex: none;
    border: 0;
    align-self: stretch;
    flex-grow: 0;  
    margin-top: 230px;
    margin-left: 131px;
}
.cont__text{
    position: absolute;
    width: 281px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #5E6872;
    margin-top: 271px;
    margin-left: 42px;
    padding-top: 10px;
    }
.cont__text-line{
    position: absolute;
    width: 318px;
    border: 1px solid #DFDFE0;
    margin-top: 339px;
    margin-left: 26px;
    }
.block2__heading{
    position: absolute;
    width: 218px;
    height: 18px;
    margin-left: 76px;
    margin-top: 357px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.154px;
    color: #354371;
    }
.block2__par{
    position: absolute;
    width: 312px;
    height: 24px;
    margin-left: 26px;
    margin-top: 383px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.154px;
    color: rgba(29, 44, 60, 0.52);
    }
.block2__accountid{
    position: absolute;
    width: 311px;
    height: 16px;
    margin-left: 32px;
    margin-top: 418px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #B6BABD;
    
    }
.block2__input1{
    position: absolute;
    display: flex;
    padding: 13px 20px;
    width: 241px;
    height: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1D2C3C;
    margin-top: 444px;
    margin-left: 32px;
    }
.block2__input2{
    position: absolute;
    width: 50px;
    height: 45px;
    margin-top: 444px;
    margin-left: 273px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    }
.sign__button{
    padding: 9px 10px 9px 10px;
    position: absolute;
    margin-top: 522px;
    margin-left: 134px;
    background: rgba(72, 156, 255, 0.3);
    width: 127px;
    height: 40px;
    font-family: 'Inter';
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #FFFFFF;
    }